body {
  text-align: center;
  background-color: #1D1B1B;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #EC4D37;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.start-button{
  padding:1rem 2rem;
  margin-bottom:2rem;
  font-size: 1.5rem;;
  background-color: #EC4D37;
  color:#1D1B1B;
  border:1px solid #1D1B1B;
  border-radius: 10%;
  
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #fff;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 30px white;
  background-color: white;
}

.developer{
  color:#EC4D37;
  font-size: 2rem;
}
